Question 4 -
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.

Link - https://data.nasa.gov/resource/y77d-th95.json

Note - Write code comments wherever needed for code understanding.


Excepted Output Data Attributes

● Name of Earth Meteorite - string id - ID of Earth

● Meteorite - int nametype - string recclass - string

● mass - Mass of Earth Meteorite - float year - Year at which Earth

● Meteorite was hit - datetime format reclat - float recclong - float

● point coordinates - list of int

In [27]:
import requests
import csv

def download(url):
    response = requests.get(url)
    data = response.json()
    return data

def process(data):
    processed_data = []
    for i in data:
        dict = {}
        dict['name_of_earth_meteorite'] = i.get('name', '')
        dict['id'] = i.get('id', '')
        dict['nametype'] = i.get('nametype', '')
        dict['recclass'] = i.get('recclass', '')
        dict['mass'] = float(i.get('mass', 0))
        dict['year'] = i.get('year', '')
        dict['reclat'] = float(i.get('reclat', 0))
        dict['reclong'] = float(i.get('reclong', 0))
        dict['point_coordinates'] = [float(i.get('reclat', 0)), float(i.get('reclong', 0))]
        processed_data.append(dict)
    return processed_data

def save_csv(data, filename):
    fieldnames = data[0].keys()
    with open(filename, 'w', newline='') as csvfile:
        save = csv.DictWriter(csvfile, fieldnames=fieldnames)
        save.writeheader()
        save.writerows(data)

url = "https://data.nasa.gov/resource/y77d-th95.json"
filename = "PYTHON_04.csv"

data = download(url)
processed_data = process(data)
save_csv(processed_data, filename)

print("Data saved successfully as {}.".format(filename))

Data saved successfully as PYTHON_04.csv.

In [28]:
import pandas as pd

In [23]:
df = pd.read_csv("PYTHON_04.csv")

In [29]:
df.head()

,name_of_earth_meteorite,id,nametype,recclass,mass,year,reclat,reclong,point_coordinates
0,Aachen,1,Valid,L5,21.0,1880,50.77500,6.08333,"[50.775, 6.08333]"
1,Aarhus,2,Valid,H6,720.0,1951,56.18333,10.23333,"[56.18333, 10.23333]"
2,Abee,6,Valid,EH4,107000.0,1952,54.21667,-113.00000,"[54.21667, -113.0]"
3,Acapulco,10,Valid,Acapulcoite,1914.0,1976,16.88333,-99.90000,"[16.88333, -99.9]"
4,Achiras,370,Valid,L6,780.0,1902,-33.16667,-64.95000,"[-33.16667, -64.95]"

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name_of_earth_meteorite  1000 non-null   object
 1   id                       1000 non-null   int64
 2   nametype                 1000 non-null   object
 3   recclass                 1000 non-null   object
 4   mass                     1000 non-null   float64
 5   year                     1000 non-null   int64
 6   reclat                   1000 non-null   float64
 7   reclong                  1000 non-null   float64
 8   point_coordinates        1000 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 70.4+ KB